{# Sample is style feature example #}
{% extends base_template %}

{% block content %}
    <div class="row">
        <div class="span12">
            {%  set content = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tellus mauris. Integer non erat lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas in risus metus. ' %}

            <h1>Theme features</h1>
            <div class="row">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Information :</strong>This is a page sample to demonstrate theme features

                    </div>
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Success :</strong>This is a page sample to demonstrate theme features
                    </div>
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Error :</strong>This is a page sample to demonstrate theme features
                    </div>
                </div>
            </div>
            <h2>Simple container</h2>
            <div class="row">
                <div class="span12">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Double container</h2>
            <div class="row">
                <div class="span6">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Triple container</h2>
            <div class="row">
                <div class="span4">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            <ul class="check-list">
                                <li>Quick and convenient Localization Support</li>
                                <li>Compatible with the latest W3C standards</li>
                                <li>Flexible, Responsive Layout</li>
                                <li>Compatible with Major Browsers</li>
                                <li>Attuned to Smartphones and Tablet PCs</li>
                            </ul>
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Quadruple container</h2>
            <div class="row">
                <div class="span3">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="cms-block">
                        <h3>My paragraphe title</h3>
                        <div class="content">
                            {{ content }}
                        </div>
                        <div class="link">
                            <a href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}